<h1>Log in</h1>
<form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email:
        <input type="text" id="email" name="user[email]">
    </label>
    <br>
    <label for="password">Password:
        <input type="password" id="password" name="user[password]">
    </label>
    <input type="submit" value="Log in">
</form>
